<h2>Courses</h2>
<% if (!coursesList.length) { %>
  <p>No results</p>
<% } else { %>

  <table id="courses-list">
    <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Description</th>
          <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
      <% coursesList.forEach((course) => { %>
        <tr>
          <td><%- course.code %></td>
          <td><%- course.name %></td>
          <td><%- course.description %></td>
          <td><a href="<%- editCoursePath(course) %>">Edit</a></td>
          <td>
            <form action="<%- deleteCoursePath(course) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<% } %>

<a href="<%- newCoursePath %>">New course</a>
