<div>
    <% if (locals.notice) { %>
      <div className="notice"><%= notice %></div>
    <% } %>
    <h1>Login</h1>
    <% if (locals.error) { %>
      <div class="error">
        <%= error %>
      </div>
    <% } %>
    <form action="<%= createSessionPath %>" method="post">
      <input type="hidden" name="_method" value="put" />
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" value="<%= locals.email %>" />
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= locals.password %>" />
      </div>
      <div class="field">
        <input type="submit" name="sign-in" value="Sign In" />
      </div>
    </form>
  </div>
